<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="/style/reg.css">
</head>
<body>
  <div id="usr">
    <span th:text="${message}"></span><br>
    <form th:action="@{/reg}" method="post">
      <fieldset class="clearfix">
        <p><span class="fontawesome-user"></span><input type="text" name="username" placeholder="Логин" value="" onBlur="if(this.value == '') this.value = 'Логин'" onFocus="if(this.value == 'Логин') this.value = ''" required></p>
        <p><span class="fontawesome-lock"></span><input type="password" name="password" placeholder="Пароль" value="" onBlur="if(this.value == '') this.value = 'Пароль'" onFocus="if(this.value == 'Пароль') this.value = ''" required></p>
        <p><input type="submit" value="СОХРАНИТЬ"></p>
      </fieldset>
    </form>
  </div>
</body>
</html>